html {
    background-color: azure;
    font-size: 10px;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px rgb(219, 217, 248);
    text-align: center;
    font-size: 40px;
}
img {
    display: block;
    margin: 0 auto;
    width:200px;
}
p,li {
    font-size: 16px;
    /* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    line-height: 2;
    letter-spacing: 1px;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #acd4ff;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}